@model IEnumerable<Employee_Hiring_Sys.Models.tbl_experience>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/common.cshtml";
}


<style>
    .exp_btn {
        width: 179px;
        font-size: 22px;
        padding-bottom: 35px;
        margin: 0px 0px 14px 4px;
    }

    .tbutton {
        width: 73px;
        font-size: 16px;
    }

    .dash_btn {
        width: 164px;
        font-size: 22px;
        padding-bottom: 35px;
        margin: 0px 0px 14px 4px;
    }
</style>
<h3 style=" margin-left: 463px; font-size: 36px;">Add Experience</h3>
@*<a href="@Url.Action("Logout_act","Login")" class="form-control btn btn-primary btn-outline-white" style="font-size: 22px; width: 99px; background-color: #4b4276; padding-top: 0px; margin-left: 45px; border-radius: 34px; ">LogOut</a>*@
<a href="@Url.Action("Create", "Experience", new { member_id = Session["UserId"] })" class="form-control btn btn-primary btn-outline-white exp_btn">Add Experience</a>
@*<button href="@Url.Action("Create", "Education", new { member_id=ViewBag.id})" type="submit" class="form-control btn btn-primary submit px-3 edu_btn">Add Education</button>*@
@*<p>
        @Html.ActionLink("Create New", "Create", new { member_id = ViewBag.id })
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Starts_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experience_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_personal_info.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starts_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.experience_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_personal_info.UserName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Experience", new { user = Session["UserId"],id = item.exper_id })" class="form-control btn btn-primary tbutton btn-outline-white">Edit</a>|
                <a href="@Url.Action("Details", "Experience", new { user = Session["UserId"],id = item.exper_id })" class="form-control btn btn-primary tbutton btn-outline-white">Details</a>|
                <a href="@Url.Action("Delete", "Experience", new { user = Session["UserId"],id = item.exper_id })" class="form-control btn btn-primary tbutton btn-outline-white">Delete</a>
             </td>
        </tr>
    }

</table>


